body {
    background-color: #F5F5F5;
}

.header {
    max-width: 1230px;
    height: 100px;
    margin: 0 auto;
    padding: 20px 15px;
}

.header__inner {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__icon {
    margin-right: 20px;
}

.header__icon,
.header__logo {
    font-weight: bold;
    font-size: 32px;
    color: #0000ff;
    text-decoration: none;
}

.main {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 15px;
}