body {
    background-color: #F5F5F5;
}

.header {
    max-width: 1230px;
    height: 100px;
    margin: 0 auto;
    padding: 20px 15px;
}

.header__inner {
    width: 100%;
}

.header__logo {
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
}

.main {
    max-width: 1230px;
    margin: 0 auto;
}

.detail__content {
    display: flex;
    justify-content: space-between;
}

.shop-detail {
    width: 45%;
    margin-bottom: 20px;
}

.shop-detail__header
{
    display: flex;
    justify-content: left;
    align-items: center;
}

.link {
    margin-right: 20px;
}

.link__button {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.shop-name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}
  
.shop__img img {
    width: 100%;
}

.shop__tag,
.shop__content {
    font-size: 14px;
    text-align: light;
}
  
.shop-area,
.shop-genre {
    display: inline-block;
}

.reservation-detail {
    width: 45%;
    margin-bottom: 20px;
}

.reservation-card {
    width: 100%;
    border: none;
    border-radius: 3px;
    background-color: #0000ff;
    color: #fff;
}

.reservation-form {
    padding: 20px 15px;
}

.reservation-form__select {
    margin-bottom: 10px;
}

.reservation__title {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.select__reservation-date  input {
    width: 30%;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
}

.select__reservation-time select,
.select__number_of_people select {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-weight: 700;
}

.reservation-form__button {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.reservation-form__button-submit {
    width: 100%;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 12px;
    background-color: #0000dd;
    color: #fff;
    border: none;
    text-decoration: none; 
    cursor: pointer;
}

.reservation-form__confirm
{
    padding: 5px 20px;
    background-color: #0033FF;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
}
.confirm__group {
    display: flex;
    text-align: left;
    align-items: center;
    margin-bottom: 10px;
}

.confirm-title {
    margin-right: 20px;
}