.header {
    max-width: 1230px;
    height: 100px;
    margin: 0 auto;
    padding: 20px 15px;
}

.header__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-weight: bold;
    font-size: 32px;
    text-decoration: none;
}

.search-form {
    display: flex;
    align-items: center;
}

.main {
    width: 100vw;
    height: 90vh;
}

.shop-card {
    width: 15%;
    margin: 20px auto 0;
    border: 1px solid #808080;
    border-radius: 3px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
}
  
.shop-card__img img {
    width: 100%;
}
  
.shop-card__content {
    padding: 10px 20px;
}
  
.shop-name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.shop-card__content-tag {
    font-size: 14px;
    font-weight: bold;
    text-align: light;
}
  
.shop-area,
.shop-genre {
    display: inline-block;
}

.shop-card__items {
    display: flex;
    justify-content: space-between;
}

.shop__link,
.shop__control {
    margin-bottom: 10px;
}

.detail__link-button {
    padding: 5px 10px;
    font-weight: 400;
    font-size: 12px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    text-decoration: none; 
}