body {
    background-color: #F5F5F5;
}

.header {
    max-width: 1230px;
    height: 100px;
    margin: 0 auto;
    padding: 20px 15px;
}

.header__inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .header__inner {
        display: block;
    }
}

.header__item {
    display: flex;
    justify-content: left;
    align-items: center;
}

.header__icon {
    margin-right: 20px;
}

.header__icon,
.header__logo {
    font-weight: bold;
    font-size: 32px;
    color: #0000ff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .header__icon,
    .header__logo {
      font-size: 28px;
    }
}
  
@media screen and (max-width: 480px) {
    .header__icon,
    .header__logo {
      font-size: 24px;
    }
}

.search-form {
    display: flex;
    align-items: center;
}

.area-select,
.genre-select,
.keyword-select {
    border: none;
    outline: none;
    padding: 5px 10px;
    height: 27px;
    font-weight: bold;
}

@media screen and (max-width: 480px) {
    .area-select,
    .genre-select,
    .keyword-select {
      width: 100%;
      height: 26px;
    }
}

.area-select {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.genre-select {
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.search-form__button-submit {
    border: none;
    height: 27px;
    background-color: #fff;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .search-form__button-submit {
      height: 26px;
    }
  }

.keyword-select {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
    outline: none;
    cursor: pointer;
}

.main {
    max-width: 1230px;
    margin: 0 auto;
    padding: 20px 15px;
}

.shop__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px) {
    .shop__wrapper {
        display: block;
        justify-content: center;
    }
}

.shop-card {
    width: 20%;
    margin: 20px auto;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 3px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .shop-card {
      width: 45%;
    }
}

@media screen and (max-width: 480px) {
    .shop-card {
      width: 90%;
    }
}

.shop-card__img img {
    width: 100%;
}
  
.shop-card__content {
    padding: 10px 20px;
}
  
.shop-name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.shop-card__content-tag {
    font-size: 14px;
    font-weight: bold;
    text-align: light;
}
  
.shop-area,
.shop-genre {
    display: inline-block;
}

.shop-card__items {
    display: flex;
    justify-content: space-between;
}

.shop__link,
.shop__control {
    margin-bottom: 10px;
}

.detail__link {
    padding: 5px 10px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}

.like-button {
    background-color: #fff;
    color: gray;
    font-size: 18px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.unlike-button {
    background-color: #fff;
    color: red;
    font-size: 18px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}