.mypage__content {
    width: 100%;
}

.user-name {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

.message {
    font-size: 16px;
    font-weight: bold;
    color: #0000ff;
}

.mypage__inner {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .mypage__inner {
        display: block;
        justify-content: center;
    }
}


.reservation__info {
    width: 40%;
    padding: 10px;
}

.alert {
    margin-bottom: 10px;
    color: #ff0000;
    font-size: 14px;
}

@media screen and (max-width: 768px) {
    .reservation__info {
      width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .reservation__info {
      width: 100%;
    }
}

.reservation__info--title {
    font-size: 18px;
    font-weight: bold;
}

.reservation__card {
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.reservation__card--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation__card--header-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reservation__icon {
    margin-right: 10px;
}

.edit__link {
    margin-right: 20px;
}

.edit__link--button {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    cursor: pointer;
}

.delete-form__button {
    background-color: #0000ff;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.reservation__card--group {
    display: flex;
    text-align: left;
    align-items: center;
}

.reservation__tag {
    width: 30%;
    margin-right: 20px;
}

.detail__link {
    margin-bottom: 10px;
    text-align: center;
}

.detail__link-button {
    padding: 5px 10px;
    background-color: #fff; 
    color: #0000ff;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.form__error {
    margin-bottom: 10px;
    color: red;
    font-size: 14px;
}

.likes__info {
    width: 60%;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .likes__info {
      width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .likes__info {
      width: 100%;
    }
}

.likes__info--title {
    font-size: 18px;
    font-weight: bold;
}

.shop__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.shop-card {
    width: 45%;
    margin: 0 auto;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 3px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .shop-card {
      width: 100%;
      margin-bottom: 20px;
    }
  }

.shop-card__img img {
    width: 100%;
}
  
.shop-card__content {
    padding: 10px 20px;
}
  
.shop-name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.shop-card__content-tag {
    font-size: 14px;
    font-weight: bold;
    text-align: light;
}
  
.shop-area,
.shop-genre {
    display: inline-block;
}

.shop-card__items {
    display: flex;
    justify-content: space-between;
}

.shop__link,
.shop__control {
    margin-bottom: 10px;
}

.detail__link {
    padding: 5px 10px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.alert {
    text-align: center;
    margin-top: 10px;
}

.like-button {
    background-color: #fff;
    color : gray;
    font-size: 18px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.unlike-button {
    background-color: #fff;
    color: red;
    font-size: 18px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}