.review__content--inner{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 480px) {
    .review__content--inner {
        display: block;
        justify-content: center;
    }
}

.shop-card {
    width: 300px;
    height: 450px;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #808080;
    border-radius: 3px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 480px) {
    .shop-card {
      width: 100%;
    }
}

.shop-card__img img {
    width: 100%;
}
  
.shop-card__content {
    padding: 10px 20px;
}
  
.shop-name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
}

.shop-card__content-tag {
    font-size: 14px;
    font-weight: bold;
    text-align: light;
}
  
.shop-area,
.shop-genre {
    display: inline-block;
}

.shop-card__items {
    display: flex;
    justify-content: space-between;
}

.shop__link,
.shop__control {
    margin-bottom: 10px;
}

.detail__link {
    padding: 5px 10px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
}

.like-button {
    background-color: #fff;
    color: gray;
    font-size: 18px;
    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;
}

.review-card {
    width: 60%;
    margin-bottom: 20px;
    padding: 10px 30px;
    border-left: 3px solid #808080;
}

@media screen and (max-width: 480px) {
    .review-card {
      width: 100%;
      border-left: none;
    }
}

.form__group {
    margin-bottom: 30px;
}

.form__group--title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
}

.input__comment {
    margin-bottom: 20px;
}

.input__comment textarea {
    width: 100%;
    height: 100px;
    padding: 5px 10px;
    font-size: 16px;
}

.select__rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    margin-bottom: 20px;

}

.select__rating input[type=radio] {
    display: none;
}

.select__rating label {
    position: relative;
    margin-bottom: 10px;
    padding: 0 5px;
    color: #ccc;
    cursor: pointer;
    font-size: 24px;
}

.select__rating label:hover {
    color: #0000ff;
}

.select__rating label:hover ~ label {
    color: #0000ff;
}

.select__rating input[type=radio]:checked ~ label {
    color: #0000ff;
}

.image-upload {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color: #000000;
    font-size: 10px;
    border: 1px solid #808080;
    border-radius: 3px;
    cursor: pointer;
}

.form__input--image input {
    display: none;
}

.review-form__button {
    margin-top: 50px;
    text-align: center;
}

.review-form__button-submit{
    padding: 5px 10px;
    background-color: #0000ff;
    color: #fff;
    border: none;
    border-radius: 3px;
}

.form__error {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #ff0000;
}